* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  #sidebar {
    background: #2c3e50;
    height: 100vh;
    width: 200px;
    transition: 0.4s all linear;
    position: fixed;
  }
  
  
  
  .nav {
    list-style: none;
    display: flex;
    flex-direction: column;
    background: #ffffff67;
    border : 20%  solid #ffffff67;
    
  }
  
  .nav a {
    padding: 1.5rem 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    transition: 0.4s all ease;
  }
  
  .nav a:hover {
    background: rgba(0, 0, 0, 0.18);
    border-left: 5px solid #2c3e50;
  }
  .nav a {
    color: #07bc0c;
    background-color: #f0f9f091;
    border-radius: 5px;
    border: 1px solid #07bc0c;
    margin: 1rem;
    padding: 5px;
    

  }
  
  .toggle-btn {
    cursor: pointer;
    padding: 1rem 0.8rem;
  }
  
  .toggle-btn span {
    display: block;
    background: #ffffff;
    height: 4px;
    width: 30px;
    margin: 0.3rem 0;
    border-radius: 8px;
  }
  
  #sidebar.active {
    margin-left: -200px;
  }
  
  .App {
    padding: 1rem 0.8rem;
    margin-top: 5rem;
  }
  .content {
    margin-left: 200px;
    transition: 0.4s all linear;
  }
  .content.active {
    margin-left: 0;
  }
  
  .brand {
    display: flex;
    position: fixed;
    align-items: center;
    background: #34495e;
    width: 100%;
    padding: 5px;
    z-index: 100;
  }
  